# Node
node_modules/
.env
dist/
.vscode/
*.log
*.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React/Vite
frontend/dist
frontend/node_modules

# Logs
logs
*.log
*.gz

# System files
.DS_Store
Thumbs.db

